html {
    font-family: 'Oswald', sans-serif;
    font-family: 'Voltaire', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #339aae;
}

header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffea;
    border-radius: 20px 100px 20px 100px;
}


header h1 {
    color:#339aae;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 3.5rem;
}

.dates {
    font-size: 4rem;
}
a {
    text-decoration: none;
    color:#ffffea;
    font-size: 2rem;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}

.passesbutton {
    font-size: 3.5rem;
    background-color: #f2542d;
    border-radius: 7px 35px 7px 30px; 
    padding: 15px;
    margin-left: 100px;
    position: fixed;
    right: 0;
    top:5;
}
h1 {
    font-family: 'Voltaire', sans-serif;
    font-size: 3rem;
}

h2 {
    text-align: center;
    color:#ffffea;
    font-size: 4rem;
}
p {
    font-family: 'Oswald', sans-serif;
}

label {
    font-family: 'Oswald', sans-serif;
}

.card1 , .card2 , .card3 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 3px #f2542d;
    border-radius: 20px;
    background: #415d43;
    width: 33%;
    height: 500px;
}

.sponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffea;
    border-radius: 20px 100px 20px 100px;
    padding-top: -35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

.sponsorheader {
    display: flex;
    align-items: center;
}

.sponsorlink {
    display: flex;
    align-items: center;
    color: #ffffea;
    background-color: #f2542d;
    border-radius: 7px 35px 7px 30px;
    padding: 15px;
    margin-top: 25px;

}
